
  .whitekey {
	width: 20px;
	height: 120px;
	bottom:0px;
	position:absolute;
	z-index:5;
	background-color:white;
	margin:0px;
		

	border-style:solid;
	border-color:black;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	
	display:inline-block;
	font-family:arial;
	font-size:18px;
	text-decoration:none;
}

.whitekey:hover {
background-color:#00FF00;
}

.whitekey:active {
	background-color:#FF0066;

}

  .blackkey {
	width: 9px;
	height: 60px;
	background-color:black;
	margin:0px;
	z-index: 10;
	bottom:60px;
	position:absolute;


	border-style:solid;
	border-color:black;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	
	
	
	
	
	display:inline-block;
	color:#777777;
	text-decoration:none;
}
.blackkey:hover {
	background-color:#00CCCC;
	
}
.blackkey:active {
	background-color:#FF0066;
}



#footer{
	position:fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	
	height:120px;
	
	zoom: 100%;
	width: 100%;
	
	background-color:#0099ff;
	


}


.keyboard {
	position:relative; 
/*	bottom: 0px;  */
/*	left:0px;  */

	width: 1041px;
	height:120px;  
	
	zoom: 100%;


margin-left:auto;
margin-right:auto;
}

.octave {
	position:absolute; 
	bottom: 0px;
	left:0px;
	



}




